@font-face {
    font-family: "exo";
    font-style: normal;
    font-weight: 400;
    src: url("../web/fonts/Exo2.0-Thin.otf") format("opentype");
}
@font-face {
    font-family: "TrebuchetMS";
    font-style: normal;
    font-weight: 400;
    src: url("../web/fonts/TrebuchetMS.woff") format("woff");
}
