@import "base";

main {
  text-align: center;
  padding: 30px 0;
  p {
    font-size: 14px;
    padding: 3px 0;
  }
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

h1 {
  font-size: 36px;
  color: white;
  margin: 25px 0;

}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.wrap-cart {
  margin-bottom: 10px;
  font-family: $FONT2;
  .cart-about {
    font-size: 13px;
    margin: 15px 0;
    color: white;
    a {
      color: $blue;
      text-decoration: dotted;
    }
  }
  .cart__price {
    background-color: $blue;
  }
  &:hover {
    .cart__price {
      opacity: 0.9;
    }
  }
  &.selected {
    .cart {
      &:before {
        background-image: linear-gradient(135deg, transparent 5%, $red 0);
      }
    }
    .cart__price {
      background-color: $red;
    }
  }
  &.disable {
    .cart-about {
      font-size: 13px;
      color: #ffff66;
    }

    .cart {
      cursor: default;
      color: $grey;
      background-image: linear-gradient(135deg,transparent 5%,hsla(0,0%,95%,.5) 0),url(../web/image/cat.png),linear-gradient(135deg,transparent 5%,#f2f2f2 0);
      &:before {
        background-image: linear-gradient(135deg, transparent 5%, $grey 0);
      }
    }
    .cart__price {
      background-color: $grey;
    }
  }
}

.cart {
  font-family: $FONT2;
  display: inline-block;
  padding: 0px 50px;
  background-repeat: no-repeat;
  width: 315px;
  height: 475px;
  margin-left: 35px;
  margin-right: 35px;
  position: relative;
  text-align: left;
  cursor: pointer;
  background-image: url(../web/image/cat.png), linear-gradient(135deg, transparent 5%, #f2f2f2 0);
  background-position: 100% 111%;
  -webkit-background-size: 100%;
  background-size: 100%;
  &:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    transform: scale(1.02, 1.015);
    background-image: linear-gradient(135deg, transparent 5%, $blue 0);
    border-radius: 0 10px 10px 10px;
  }
  &__text {
    &-promo {
      font-size: 16px;
      margin: 25px 0 5px;
    }
    &-name {
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 8px;
    }
    &-desc {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 12px;
    }
    &-quantity {

    }
    &-present {

    }
    &-comment {

    }

  }
  &__price {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 15px;
    bottom: 15px;

    color: white;

    span {
      font-size: 40px;
      font-weight: bold;
    }
    p {
      font-size: 22px;
      padding: 0px;
      font-weight: bold;
    }
  }

}



